extends ../base.pug 

block variables
  - var template = "playground"
  - var live_d = `M12 19C10.3599 19.0204 8.7367 18.6664 7.254 17.965C6.10469 17.4042 5.07265 16.6297 4.213 15.683C3.30243 14.7041 2.58547 13.5616 2.1 12.316L2 12L2.105 11.684C2.59082 10.4394 3.30624 9.29725 4.214 8.31698C5.07334 7.37029 6.10504 6.59584 7.254 6.03498C8.73671 5.33357 10.3599 4.97959 12 4.99998C13.6401 4.97963 15.2633 5.3336 16.746 6.03498C17.8953 6.59571 18.9274 7.37017 19.787 8.31698C20.6993 9.29453 21.4165 10.4373 21.9 11.684L22 12L21.895 12.316C20.3262 16.3998 16.3742 19.0693 12 19ZM12 6.99998C8.59587 6.89331 5.47142 8.87507 4.117 12C5.4712 15.1251 8.59579 17.1069 12 17C15.4041 17.1064 18.5284 15.1247 19.883 12C18.5304 8.87356 15.4047 6.89106 12 6.99998ZM12 15C10.5573 15.0095 9.30937 13.9973 9.02097 12.5838C8.73256 11.1702 9.48427 9.75 10.8154 9.19364C12.1465 8.63728 13.6852 9.10011 14.4885 10.2985C15.2919 11.4969 15.1354 13.0961 14.115 14.116C13.5563 14.6812 12.7948 14.9995 12 15Z`

block content
  main.playground
    .playground__wrapper 

      section.playground__heading
        .playground__heading__wrapper 
          h1.playground__heading__text(data-midTitle) 
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
            span Playground
          p.playground__heading__subtext(data-subTitle)
            | From blood, sweat and experimentations to beautiful websites

      section.playground__body(data-color="#eaecee11")
        .playground__projects 
          ul.playground__projects__wrapper 
            li.playground__project(data-color="#ffca0811")
              a.playground__project__description(href="https://vsl.goodie.work" target="_blank" rel="noopener noreferrer") 
                p.playground__project__title VSL Matchup
                p.playground__project__details 
                  | Find Love, even in Lagos Nigeria.
                p.playground__project__stack 
                  span Next js
                  span object oriented JS
                .playground__project__action 
                  .playground__action__wrapper 
                    svg.playground__action__icon(width="24" height="24" viewBox="0 0 24 24" fill="none")
                      path(d=live_d  fill="black") 
                    p.playground__action__text Live
              .playground__project__medias 
                figure.playground__project__media 
                  img.playground__project__image(src="images/vsl_1.png" alt="preview image" data-delay="1.5") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/vsl_2.png" alt="preview image" data-delay="1.7") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/vsl_3.png" alt="preview image" data-delay="1.9") 

            li.playground__project(data-color="#0080ff11")
              a.playground__project__description(href="https://untitled01.goodie.work" target="_blank" rel="noopener noreferrer") 
                p.playground__project__title Untitled 1
                p.playground__project__details 
                  | A recreation of karinasirqueira.com.
                p.playground__project__stack 
                  span Html
                  span Css
                  span JS
                .playground__project__action 
                  .playground__action__wrapper 
                    svg.playground__action__icon(width="24" height="24" viewBox="0 0 24 24" fill="none")
                      path(d=live_d  fill="black") 
                    p.playground__action__text Live
              .playground__project__medias 
                figure.playground__project__media 
                  img.playground__project__image(src="images/untitled01_1.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/untitled01_2.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/untitled01_3.png" alt="preview image" data-delay="0.1") 

            li.playground__project(data-color="#aaffd511")
              a.playground__project__description(href="https://untitled02.goodie.work" target="_blank" rel="noopener noreferrer") 
                p.playground__project__title Untitled 2
                p.playground__project__details 
                  | Exploring new fun ways to rate.
                p.playground__project__stack 
                  span Rive Js
                  span RAF
                .playground__project__action 
                  .playground__action__wrapper 
                    svg.playground__action__icon(width="24" height="24" viewBox="0 0 24 24" fill="none")
                      path(d=live_d  fill="black") 
                    p.playground__action__text Live
              .playground__project__medias 
                figure.playground__project__media 
                  img.playground__project__image(src="images/untitled02_1.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/untitled02_2.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/untitled02_3.png" alt="preview image" data-delay="0.1") 

            li.playground__project(data-color="#593d3c11")
              a.playground__project__description(href="https://howdy.goodie.work" target="_blank" rel="noopener noreferrer") 
                p.playground__project__title Howdy
                p.playground__project__details 
                  | An Instant Messaging Web App.
                p.playground__project__stack 
                  span Vue
                  span Express
                  span GSAP
                  span TS
                .playground__project__action 
                  .playground__action__wrapper 
                    svg.playground__action__icon(width="24" height="24" viewBox="0 0 24 24" fill="none")
                      path(d=live_d  fill="black") 
                    p.playground__action__text Live
              .playground__project__medias 
                figure.playground__project__media 
                  img.playground__project__image(src="images/howdy_1.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/howdy_2.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/howdy_3.png" alt="preview image" data-delay="0.1") 

            li.playground__project(data-color="#c90f0c11")
              a.playground__project__description(href="https://bhpwt.csb.app" target="_blank" rel="noopener noreferrer") 
                p.playground__project__title Endl
                p.playground__project__details 
                  | Exploring React with Kadet's EndSars.
                p.playground__project__stack 
                  span React
                  span Github
                .playground__project__action 
                  .playground__action__wrapper 
                    svg.playground__action__icon(width="24" height="24" viewBox="0 0 24 24" fill="none")
                      path(d=live_d  fill="black") 
                    p.playground__action__text Live
              .playground__project__medias 
                figure.playground__project__media 
                  img.playground__project__image(src="images/endl_1.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/endl_2.png" alt="preview image" data-delay="0.1") 
                figure.playground__project__media 
                  img.playground__project__image(src="images/endl_3.png" alt="preview image" data-delay="0.1") 

